{% extends "base.html.twig" %}
{% block content %}

    <div class="profil">
        <div class="profilTitle">Connexion</div>
        {{ form_start(loginForm) }}
        {{ form_errors(loginForm) }}

        <div>
            {{ form_errors(loginForm.nickname) }}
            {{ form_widget(loginForm.nickname, { 'attr': {'class': "inputSignUp",'placeholder': "Pseudo"} }) }}
        </div><br>
        <br>
        <div>
            {{ form_errors(loginForm.password) }}
            {{ form_widget(loginForm.password, { 'attr': {'class': "inputSignUp",'placeholder': "Mot de passe"} }) }}
        </div><br>
        <br>
        <div>
            {{ form_widget(loginForm.login, { 'attr': {'class': "submitSignUp",'value': "Se connecter"} }) }}
        </div>

        {{ form_end(loginForm) }}
    </div>

    <br>
    <div align="center">
        Pas inscrit ? rejoins notre communauté en t'inscrivant.<br>
        Pour cela, <a href="/register">clique ici</a>
    </div>

{% endblock %}
